@charset "utf-8";
.hpic{
    position:relative;
}
.pic1{
    width: 100%;
}
.title1{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
}
.font1{
    color: white;
    width: 27vw;
    font-size: 3vw;
    position: absolute;
    top:23%;
    left: 0;
    right: 0;
    margin: auto;
}
.mot1{
    position: absolute;
    top: 0;
    right: 5vw;
    width: 12vw;
}
.content{
position: relative;
}
.border1{
    width: 0;
	border-right: 100vw solid rgb(212,225,87);
    border-top: 8.5vw solid transparent;
    position: absolute;
    top: -7vw;
}
.border2{
    width: 0;
	border-right: 100vw solid white;
    border-top: 4vw solid transparent;
    position: absolute;
    top: -2.3vw;
    z-index: 11;
}
.border3{
    width: 0;
	border-left: 100vw solid rgb(255,202,40);
    border-top: 6vw solid transparent;
    position: absolute;
    top: -4.3vw;
    z-index: 11;
}
.main-container{
    position: relative;
    background: rgb(255,202,40);
    width: 100%;
    height: 90vh;
}
.mot2{
    position: absolute;
    top: 0;
    left: 3vw;
    width: 12vw;
    z-index: 14;
}
.star1{
    width: 10vw;
    position: absolute;
    top: 3vw;
    left: 11vw;
}
.star2{
    width: 7vw;
    position: absolute;
    top: 16vw;
    right: 8vw;
    z-index: 12;
}